input, textarea{
    outline: none;
    border: 1px solid #727272;
  }
  textarea{
    height: 175px
  }
  .button-contactForm{
    border: none;
    outline: none;
    width: 200px;
    background-color: #F66B0E;
    color: white;
  }