.header {
    background-image: url("/assets/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  @media (min-width: 657px) {
    .header-text {
      margin-left: 30em;
    }
  }
  .sale-btn{
    border: 1px solid #F68E48;
    width: 250px;
    padding: 13px;
    outline: none;
    background-color: white;
  }