<div class="container md:pb-[100px] hidden md:block">
  <div class="w-72 h-full" id="sidenavSecExample">
    <div class="ml-5">
      <div class="pt-4 pb-2 px-6">
        <a href="#!">
          <div class="flex items-center">
            <div class="grow ml-1">
              <p class="text-sm font-semibold text-black">Hello {{userName}}</p>
              <p class="text-lightgrey email">{{Email}}</p>
            </div>
          </div>
        </a>
        <hr class="my-2">
      </div>
      <ul class="relative px-1">
        <li class="relative">
          <a routerLink="/profile"
            class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out"
            href="#!" data-mdb-ripple="true" data-mdb-ripple-color="primary">
            <img src="../../../assets/Vector.png" aria-hidden="true" focusable="false" data-prefix="fas"
              class="w-3 h-3 mr-3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <span class="text-lightgrey hover:text-lightorange focus:text-lightorange"
              routerLink="/profile">Profile</span>
          </a>
        </li>

        <li class="relative" id="sidenavSecEx2">
          <a routerLink="/orders"
            class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out cursor-pointer"
            data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
            data-bs-target="#collapseSidenavSecEx2" aria-expanded="false" aria-controls="collapseSidenavSecEx2">
            <img src="../../../assets/Order.svg" aria-hidden="true" focusable="false" data-prefix="fas"
              class="w-3 h-3 mr-3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
            <span class="text-lightgrey hover:text-lightorange focus:text-lightorange"
              routerLink="/orders">Orders</span>
          </a>
        </li>
        <li class="relative" id="sidenavSecEx3" routerLink="/wishlist">
          <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out cursor-pointer"
            data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
            data-bs-target="#collapseSidenavSecEx3" aria-expanded="false" aria-controls="collapseSidenavSecEx3">
            <img src="../../../assets/heart.svg" aria-hidden="true" focusable="false" data-prefix="fas"
              class="w-3 h-3 mr-3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <span class="text-lightgrey hover:text-lightorange focus:text-lightorange"
              routerLink="/wishlist">Wishlist</span>
          </a>
        </li>

        <div class="pt-4 pb-2 px-6">
          <hr class="my-2">
        </div>

        <li class="relative" id="sidenavSecEx3">
          <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-blue-600 hover:bg-blue-50 transition duration-300 ease-in-out cursor-pointer"
            data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
            data-bs-target="#collapseSidenavSecEx3" aria-expanded="false" aria-controls="collapseSidenavSecEx3">
            <img src="../../../assets/sign.svg" aria-hidden="true" focusable="false" data-prefix="fas"
              class="w-3 h-3 mr-3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <span class="text-lightorange hover:text-lightorange focus:text-lightorange" *ngIf="isLogin"
              (click)="isLogout()">Sign out</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>