.list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    li {
    
    float: left;
    }
    
    li a {
    
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    }
    
    li a:hover {
    
    
    color: black;
    }
    
    .quickSection {
    
    position: relative;
    left: 100px;
    
    }
    
    .quickTitle {
    
    margin-left: 90px;
    
    }
    
    .subscriptionSection {
    
    position: relative;
    left: 100px;
    }
    
    .customInput {
    
    /* margin-top: 10px;
    margin-left: 70px;
    width: 240px; */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #727272;
    width: 250px;
    }
    
    .btn {
    
    position: relative;
    right: 200px;
    bottom: 2.5px;
    right: 90px;
    }
    
    