<div class='w-[100%] flex flex-col items-center'>


  <div class="w-[100%] h-[19.875rem] bg-[#EFEFEF]  bg-opacity-[30%] flex flex-col justify-evenly   items-center">

    <p class="font-semibold text-[1.5rem]">You will find all you want </p>

          <div class=" relative flex flex-row items-center justify-center  w-[65.375rem] h-[3.5rem] bg-white text-start ">

            <input type="search"
              class="absolute left-[3rem] w-[95%]   block  text-base font-normal text-gray-400 bg-white  transition ease-in-out m-0 focus:text-gray-400 focus:outline-none  "
              placeholder="Search..." aria-label="Search" aria-describedby="button-addon3">

              <button class='absolute right-[3rem]  border-0 '>
                <img src="../../../../assets/search.png">
              </button>
            </div>
            

  </div>













  <!-- <div *ngIf="categoriesList">
    <div *ngFor="let category of categoriesList">


      <label class="container"> {{category.name}} </label>
      <input type="checkbox" [(ngModel)]='category.checked' [id]='category._id' (ngModelChange)='categoriesFilter()'>
      <span class="checkmark"></span>
    </div>
  </div> -->

  <div class="grid gap-x-first grid-cols-4  " *ngIf="productList">
    <div *ngFor="let product of productList">
      <app-product-item [productItem]="product"></app-product-item>
    </div>
  </div>

</div>


<div class="flex justify-evenly">
  <nav aria-label="Page navigation example">
    <ul class="flex list-style-none">
      <li class="page-item"><a
          class="page-link relative block py-1 px-2  border-0 bg-transparent outline-none transition-all duration-300 rounded-lg text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
          href="#"><img src="../../../../assets/arrow left.svg"></a></li>


      <li class="page-item"><a
          class="page-link relative block py-1 px-2 border-1 bg-transparent outline-none transition-all duration-300 rounded-lg text-gray-800 m-1 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
          href="#">1</a></li>


      <li class="page-item active">
        <a class="page-link relative block py-1 px-2 border-1  outline-none transition-all duration-300 rounded-lg text-white m-1  hover:text-white shadow-md active:shadow-md bg-[#F66B0E] "
          href="#">2 <span class="visually-hidden">(current)</span></a>
      </li>


      <li class="page-item"><a
          class="page-link relative block py-1 px-2 border-1 bg-transparent outline-none transition-all duration-300 rounded-lg text-gray-800 m-1 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
          href="#">3</a></li>

      <li class="page-item"><a
          class="page-link relative block py-1 px-2 border-1 bg-transparent outline-none transition-all duration-300 rounded-lg text-gray-800 m-1 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
          href="#">4</a></li>


      <li class="page-item"><a
          class="page-link relative block py-1 px-2  border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
          href="#"><img src="../../../../assets/Vector.svg"></a></li>
    </ul>
  </nav>
  
</div>