
<div *ngIf="wishlistProducts">

    <div *ngFor="let product of  wishlistProducts">
    
    <p> -------------------------- </p>
    
    <p>{{product.product.name}}</p>
        <p> --------- </p>
    <button (click)="getWishlist()">wishlist</button>
    <p> -------- </p>
    
    <button (click)="addToCart(product)"> add to cart</button>
    
    
    <p> ------- </p>
    
    <button (click)="deleteFromWishlist(product)">delete</button>
    
    <p> -------------------------- </p>
    
    </div>
    
    </div>
    
    