

<div class="flex flex-row  ">
<app-side-nav></app-side-nav>

<div class='w-full flex flex-col items-center justify-start '>

      <div *ngIf="Count === 0" class="w-full h-full my-[10.344rem] ">
      
          <div class="flex justify-center items-start w-full  ">
            <img  class="bg-cover inline-block hue-rotate-15 brightness-100 " src="../../../assets/empty-wishlist.png">
          </div>
      
      </div>

    <div *ngIf="Count > 0" class="grid gap-x-first grid-cols-3 m-10 lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1">

        <div  class="flex" *ngFor="let product of  wishlistProducts  | paginate: { itemsPerPage: 3, currentPage: p}">

            <app-product-item [productItem]="product.product"></app-product-item>
        </div>


      
    
    </div>


    <div class=" absolute text-center top-[100%] right-[10rem]  mt-8 md:invisible	sm:invisible ">
        <pagination-controls (pageChange)="p = $event">  </pagination-controls>
    </div>

</div>


</div>


