<div class="flex">

  <app-side-nav></app-side-nav>

  <div class="container">
    <div class="pl-8 translate-y-5 h-full bg-stone-100 py-[50px]">

      <h1 class="font-extrabold leading-tight text-xl mt-0 text-black translate-y-1 txtt">Profile</h1>
      <p class="text-lightgrey mt-0 text-base edit-para">Manage your Profile</p>

      <div class="w-9/12 sm:w-60% md:w-80% mt-3 ">

        <div class=" p-6 rounded-lg shadow-lg bg-white  pl-10">

          <div class="flex flex-row justify-between ">
            <div>
              <h3 class="text-gray-900 text-2xl txt">Name</h3>
              <p class=" text-base mb-4 para text-lightgrey">
                <!-- {{userName}} -->
                {{userName}}
              </p>
            </div>


          </div>

          <hr>


          <div class="flex flex-row justify-between mt-3">
            <div>
              <h5 class="text-gray-900 text-2xl txt">Email</h5>
              <p class="text-base mb-4 para text-lightgrey">
                <!-- {{Email}} -->
                {{Email}}
              </p>
            </div>


          </div>


        </div>

      </div>


    </div>
  </div>

</div>