.txt{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}

.para
{
    font-size: 11px;
}

.txtt{
    margin-bottom: 0;
}
.edit-para
{
    font-size: 11px;
}

.iaActive {

    color: '#F66B0E';
    text-decoration: underline;
    }
    
    .categories-list {
    
    display: none;
    
    padding: 5px;
    position: absolute;
    background-color: #fafafa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.089);
    padding: 12px 16px;
    z-index: 1;
    
    }
    
    .categories-list li {
    
    margin: 5px;
    border-bottom: 1px solid #f66b0eb2;
    }
    
    .liLink {
    
    border-bottom: none !important;
    }
    
    
    .categories:hover ul {
    
    display: block;
    }