
<div *ngIf="cartCount === 0" class="w-full h-full my-[10.344rem] ">

      
    <div class="flex justify-center items-start w-full  ">
      <img  class="bg-cover inline-block hue-rotate-15  brightness-100 " src="../../../../assets/empty-cart.png">
    </div>

</div>

<div class="width-full h-full">
<section *ngIf="cartCount> 0" class="relative flex flex-row items-start w-[80rem] m-auto justify-between  pb-14">



  <div class="flex flex-col w-[70%] h-[35rem] border-2 border-opacity-40 border-[#C4C4C4] p-5 box-content ">



    <div class="flex flex-row justify-between w-auto font-medium px-3 border-b-2">
      <p class="">Shopping Cart</p>
      <p class="">Price</p>
    </div>


    <div *ngFor="let product of productCart | paginate: { itemsPerPage: 2, currentPage: p }" class="w-auto my-[3rem] ">

      <div class="flex flex-row w-auto  h-[7.813rem]  justify-between">

        <div class="flex flex-row items-start gap-x-[1rem]  ">

          <div class="w-[30%] ">
            <!-- <img [src]="product.product.image" class="h-[auto] "> -->
            <img src="../../../../assets/Floral Pattern Crochet Sweater Vest.png"  class="h-[auto] ">
          </div>



          <div class="flex flex-col   items-start  gap-y-[.4rem]">

            <div class="flex flex-row gap-x-[1rem]">
              <p class="form-label text-gray-700 font-medium">
                Quantity
              </p>

              <input [(ngModel)]="product.quantity" (input)="updateCartQuantity($event, product)" type="number" class="
              ring-[#F66B0E]
              form-control
              block
              w-[5rem]
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white  focus:ring-0 " id="quantity" placeholder="Number input" />
            </div>
            <div class="flex flex-row gap-[.3rem] ">

              <button (click)="deleteCartItem(product)" type="button" data-mdb-ripple="true"
                data-mdb-ripple-color="light"
                class="inline-block w-[4rem] h-[1.5rem] bg-[#F66B0E] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-[#fa924d] hover:shadow-lg focus:bg-[#F66B0E] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#F66B0E] active:shadow-lg transition duration-150 ease-in-out">Remove
              </button>
            </div>
          </div>
        </div>


        <div>
          <p class="text-center font-bold">{{product.quantity * product.product.price | currency : 'EGP'}} </p>
        </div>

      </div>



  
    </div>


    <div class=" absolute top-[80%] right-[25%] mr-[10.344rem] my-4 ">
      <pagination-controls (pageChange)="p = $event">  </pagination-controls>
    </div>

    
      <!-- <p class="p-2 font-bold  py-4"> {{ totalPrice| currency : 'EGP'}}
    </p> -->



</div>


<div class=" flex flex-col w-[19.469rem] h-full  items-center p-5 justify-start border-2 ">
  <p class="font-semibold border-b-2">Order Summary</p>

  <p class="p-2 font-bold  py-4"> {{ totalPrice| currency : 'EGP'}}
</p>

  <button (click)="navigateToCheckout()" class="inline-block w-[7rem] h-[2.5rem] bg-[#F66B0E] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-[#fa924d] hover:shadow-lg focus:bg-[#F66B0E] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#F66B0E] active:shadow-lg transition duration-150 ease-in-out ">Checkout!</button>
 </div>


</section>
</div>


<hr *ngIf="cartCount > 0" class="border-opacity-40 border-[#C4C4C4] m-auto w-[80.375rem] py-4 ">



<div *ngIf="cartCount > 0" class="m-auto  w-[80rem] flex flex-row justify-between ">
  <p class="font-bold">
    Related Products
  </p>
  <p>
    <a routerLink="/list" class="font-bold hover:no-underline hover:text-[#F66B0E]">See All</a>
  </p>
</div>



<div *ngFor="let product of productCart | paginate: { itemsPerPage: 1, currentPage: p }" class="flex flex-row m-auto gap-first justify-center py-10 mb-4  ">

  <div class=" flex flex-col  border-1  text-[#F66B0E]  text[1rem] font-inter  ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" src="../../../../assets/Bear Cardigan.png"
        class=" w-full h-[18.563rem] ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#E3CAA5] bg-opacity-[8%]">
      <div class="flex flex-col justify-center">

        <p class="text-[1.125rem] font-normal text-black">{{ product.product?.price | currency : 'EGP '}} </p>
        <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
        <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
    </div>

  </div>



  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1 text-[#F66B0E]  text[1rem] font-inter  ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" src="../../../../assets/image 29.png"
        class=" w-full h-[18.563rem] bg-contain">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#E3CAA5] bg-opacity-[8%]">
      <div class="flex flex-col justify-center">
        <p class="text-[1.125rem] font-normal text-black">{{ product.product?.price | currency : 'EGP '}} </p>
        <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
        <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
    </div>

  </div>


  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1  text-[#F66B0E]  text[1rem] font-inter  ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" src="../../../../assets//image 22.png"
        class=" w-full h-[18.563rem] ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#E3CAA5] bg-opacity-[8%]">
      <div class="flex flex-col justify-center">
        <p class="text-[1.125rem] font-normal text-black">{{ product.product?.price | currency : 'EGP '}} </p>
        <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
        <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
    </div>

  </div>



  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1  text-[#F66B0E]  text[1rem] font-inter  ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id"
        src="../../../../assets/Floral Pattern Crochet Sweater Vest.png" class=" w-full h-[18.563rem] ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#E3CAA5] bg-opacity-[8%]">
      <div class="flex flex-col justify-center">
        <p class="text-[1.125rem] font-normal text-black">{{ product.product?.price | currency : 'EGP '}} </p>
        <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
        <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
    </div>

  </div>


</div>