
<div *ngIf="cartCount === 0" class="w-[100%] h-full my-[10.344rem] m-auto ">

      
    <div class="flex justify-center items-start w-full  ">
      <img  class="bg-cover inline-block hue-rotate-15  brightness-100 " src="../../../../assets/empty-cart.png">
    </div>

</div>

<div class="w-[100%] h-[100%] mt-[3rem]  ">
<section *ngIf="cartCount> 0" class="lg:grid lg:grid-cols-12 lg:gap-8 md:block">

  <div class="lg:col-span-2"></div>
  <div class="lg:col-span-6">
  <div class=" border p-8">


    <div class="flex justify-between">
      <p class="">Shopping Cart</p>
      <p class="">Price</p>
    </div>


    <div *ngFor="let product of productCart | paginate: { itemsPerPage: 2, currentPage: p }" class="w-auto my-[3rem] ">

      <div class="flex flex-row w-auto  h-[7.813rem]  justify-between">

        <div class="flex flex-row items-start gap-x-[1rem]  ">

          <div class="w-[30%] ">
            <!-- <img [src]="product.product.image" class=" max-w-full h-auto rounded-lg"> -->
            <img src="../../../../assets/Floral Pattern Crochet Sweater Vest.png"  class=" max-w-full h-auto rounded-lg">
          </div>



          <div class="flex flex-col   items-start  gap-y-[.4rem]">
              <p class="mb-2">{{product.product.name}}</p>
            <div class="flex flex-row gap-x-[1rem]">
              
              <p class="form-label text-gray-700 font-medium">
                Quantity 
              </p>

              <input [(ngModel)]="product.quantity" (input)="updateCartQuantity($event, product)" type="number" class="
              ring-[#F66B0E]
              form-control
              block
              w-[5rem]
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white  focus:ring-0 " id="quantity" placeholder="Number input" />
            </div>
            <div class="flex flex-row gap-[.3rem] ">

              <button (click)="deleteCartItem(product)" type="button" data-mdb-ripple="true"
                data-mdb-ripple-color="light"
                class=" mt-2 inline-block w-[4rem] h-[1.5rem] bg-[#F66B0E] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-[#fa924d] hover:shadow-lg focus:bg-[#F66B0E] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#F66B0E] active:shadow-lg transition duration-150 ease-in-out">Remove
              </button>
            </div>
          </div>
        </div>


        <div>
          <p class="text-center font-bold">{{product.quantity * product.product.price | currency : 'EGP'}} </p>
        </div>

      </div>



  
    </div>

</div>
    <div class="text-right mt-3">
      <pagination-controls (pageChange)="p = $event">  </pagination-controls>
    </div>

    
      <!-- <p class="p-2 font-bold  py-4"> {{ totalPrice| currency : 'EGP'}}
    </p> -->



</div>


<div class="lg:col-span-2 border h-[200px] p-7">
  <p class="font-semibold border-b-2 pt-5 ">Order Summary</p>

  <p class="p-2 font-bold  py-4"> {{ totalPrice| currency : 'EGP'}}
</p>

  <button (click)="navigateToCheckout()" class="inline-block w-[7rem] h-[2.5rem] bg-[#F66B0E] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-[#fa924d] hover:shadow-lg focus:bg-[#F66B0E] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#F66B0E] active:shadow-lg transition duration-150 ease-in-out ">Checkout!</button>
 </div>

 <div class="lg:col-span-2"></div>


</section>
</div>
<!-- 

<hr class="  pb-4  border-[#C4C4C4] m-auto w-[80.375rem] ">


<div class="m-auto  w-[80rem] flex flex-row justify-between ">
  <p class="font-bold">
    Related Products
  </p>
  <p>
    <a routerLink="/productslist" class="font-bold hover:no-underline hover:text-[#F66B0E]">See All</a>
  </p>
</div>



<div *ngFor="let product of productCart | paginate: { itemsPerPage: 1, currentPage: p }" class="flex flex-row m-auto  gap-first justify-center py-10">

  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1  text-[#F66B0E]  text[1rem] font-inter lg:w-[18rem] md:w-[12rem] sm:[5rem] ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" [src]="product.product?.image"
        class=" w-full h-[18.563rem] rounded-t-lg ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#f5f5f5] bg-opacity-[8%]  rounded-t-lg  ">
      <div class="flex flex-col justify-center gap-3 ">
          <p class="text-[16px] font-semibold "> {{product.product?.name}} </p>
          <p class="text-[16px] font-normal text-black">{{product.product?.price | currency : 'EGP '}} </p>
          <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
          <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
  </div>

  </div>



  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1  text-[#F66B0E]  text[1rem] font-inter lg:w-[18rem] md:w-[12rem] sm:[5rem] ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" [src]="product.product?.image"
        class=" w-full h-[18.563rem] rounded-t-lg ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#f5f5f5] bg-opacity-[8%]  rounded-t-lg  ">
      <div class="flex flex-col justify-center gap-3 ">
          <p class="text-[16px] font-semibold "> {{product.product?.name}} </p>
          <p class="text-[16px] font-normal text-black">{{product.product?.price | currency : 'EGP '}} </p>
          <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
          <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
  </div>

  </div>



  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1  text-[#F66B0E]  text[1rem] font-inter lg:w-[18rem] md:w-[12rem] sm:[5rem] ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" [src]="product.product?.image"
        class=" w-full h-[18.563rem] rounded-t-lg ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#f5f5f5] bg-opacity-[8%]  rounded-t-lg  ">
      <div class="flex flex-col justify-center gap-3 ">
          <p class="text-[16px] font-semibold "> {{product.product?.name}} </p>
          <p class="text-[16px] font-normal text-black">{{product.product?.price | currency : 'EGP '}} </p>
          <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
          <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
  </div>

  </div>




  
  <div class=" flex flex-col  w-[18rem] h-[ 28.438rem]  border-1  text-[#F66B0E]  text[1rem] font-inter lg:w-[18rem] md:w-[12rem] sm:[5rem]  ">
    <div class=" w-full relative">
      <img [routerLink]="'/products/'+ product.product?._id" [src]="product.product?.image"
        class=" w-full h-[18.563rem] rounded-t-lg ">


      <i *ngIf="!updateCart" class="bi bi-suit-heart text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>
      <i *ngIf="updateCart" class="bi bi-suit-heart-fill text-2xl absolute right-[2rem] top-[1rem] hover:cursor-pointer"
        (click)="addToWishlist()"></i>

    </div>
    <div class="w-full h-[9.875rem] flex flex-row justify-around bg-[#f5f5f5] bg-opacity-[8%]  rounded-t-lg  ">
      <div class="flex flex-col justify-center gap-3 ">
          <p class="text-[16px] font-semibold "> {{product.product?.name}} </p>
          <p class="text-[16px] font-normal text-black">{{product.product?.price | currency : 'EGP '}} </p>
          <p-rating [(ngModel)]="product.product.rating" on [cancel]="false"></p-rating>

      </div>
      <div class="flex flex-col justify-center">
          <i class="bi bi-handbag text-2xl hover:cursor-pointer" (click)="addToCart()"> </i>
      </div>
  </div>

  </div>


</div> -->
