

<nav class = "bg-white py-0">

    <div class = "grid grid-flow-col grid-cols-1 lg:grid-cols-1 justify-between w-[90%] m-auto items-center">


        <ul class = "lg:flex justify-center hidden">

            <li class = "py-4 px-4 width-4">

                <a href = "#"> Home </a>
            </li>
             <li class = "py-4 px-4 width-4 categories">

                <a href= "#" class = "inline">
                    Shop
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down text-xs inline" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                </a>
                <ul class = "categories-list">
                    <li>
                       <a href="#">Crochet</a> 
                    </li>
                    <li>
                       <a href="#">Accessories</a> 
                    </li>
                    <li class = "liLink">
                       <a href="#">Soap</a> 
                    </li>
                </ul>

                
            </li>
             <li class = "py-4  pr-4 width-4">

                <a href = "#"> About us </a>
            </li>
             <li class = "py-4 px-4 width-4">

                <a href = "#"> Contact us </a>
            </li>

        </ul>


    </div>

</nav>